.white{
    color: white;
    font-weight:900;
    text-align: left;
}
.black{
    color: #02bad6;
}
.footer{
    background-color: #000;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
a{
    width: 40%;
    margin-top:10px;
}

.ft-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px;
    width:30%
}
.footerTags{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2px;
}