.white{
    color: white;
    font-weight:900;
    text-align: left;
}
.black{
    color: #02bad6;
}
.footer{
    background-color: #000;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
a{
 
    margin-top:5%;
    margin-left:10%;
}

.ft-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 8%;
    width:50%
}
.footerTags{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:0px;
}
ul {
    columns: 3;
}
li{
    color: gold;
    list-style-type: none;
    margin: 5px 0;
}
